<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Short+Stack&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  {% block title %}<title>Welcome to Chunk Cascade</title>{% endblock %}
</head>
<nav class="" style="background-color: #CA5310; font-family: 'Short Stack', cursive;">
  <div class="pa3 mr2">
    <h1 style="">Welcome to Chunk Cascade</h1>
  </div>
  <div style="color: #691E06" class="flex justify-center">
    <div class="flex border-box items-start justify-between w-60">
      <div class="outline mr1 ml1"><a class="no-underline ph2 link hover-near-white b"
          style="background-color: #FF6100; color: #691E06" href="{% url 'homepage' %}">Home</a></div>
      <div class="outline mr1 ml1"><a class="no-underline ph2 link hover-near-white b"
          style="background-color: #FF6100; color: #691E06" href="#">Profile</a></div>
      <div class="outline mr1 ml1"><a class="no-underline ph2 link hover-near-white b"
          style="background-color: #FF6100; color: #691E06" href="#">Logout</a></div>
      <div class="items-end">
        <input class="" type="text">
        <button class="">search</button>
      </div>
    </div>
  </div>
</nav>
<br>

<body class="flex-column border-box mw100"
  style="background-color: #FBBA72; color: #691E06; font-family: 'Short Stack', cursive;">
  <div class="flex mw-100">
    {% block content %}

    {% endblock %}
  </div>
</body>

</html>