<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  {% block title %}<title>Welcome to Chunk Cascade</title>{% endblock %}
</head>
<nav>
  <div class="pa3 mr2">
    <h1>Welcome to Chunk Cascade</h1>
  </div>
  <div class="flex border-box items-start">
    <div class="outline pa1"><a href="#">Home</a></div>
    <div class="outline pa1"><a href="#">Profile</a></div>
    <div class="outline pa1"><a href="#">Logout</a></div>
    <div class="items-end">
      <input class="" type="text">
      <button class="">search</button>
    </div>
  </div>
</nav>
<br><br><br><br>

<body class="flex-column">

  {% block content %}

  {% endblock %}
</body>

</html>